
a.logo:visited,
a.logo
{
    text-decoration:none;
    color: #0566C9;
    font-weight: bold;
    font-size: 30pt;
}

/* --------------------------------------- */
/* We're using a boostrap button group for the version, plus the custom versions class */
.versions span,
.versions a {
    width:70px; 
}

.versions span
{
    cursor:default;
}

/* Adding to bootstrap class*/
.navbar-fixed-top
{
    padding-bottom: 10px;
}

.navbar-default {
    background-color: #c0c0c0;
}

header .navbar 
{
    margin-bottom: 0;
    padding: 10px 0 15px 0;
}

header .navbar-default .navbar-nav li a {
    color: #ffffff;
}

header .navbar-default .navbar-nav li a:hover {
    text-decoration: underline;
    color: #f0f0f0;
}

/* 
    Create wider gutter between the 2 columns on the home page, but only if the screen is wider than 768px. If it is narrower, the right column
    is moved below the left column.
*/
@media (min-width: 768px) 
{
    .left-column
    {
        padding-right: 50px;
    }

    .right-column
    {
        padding-left: 50px;
    }

    // Only make the left menu scroll if it isn't moved above the right column
    .documentation-menu {
        height: 80vh;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-right: 15px;
        font-size: 90%
    }

    /* When the user scrolls, we want to make the left menu stick on the page
        when during the scroll it reaches the top of the page.
        Issue is that sticky only works inside the parent element.
        When the parent element scrolls off the screen, so does the sticky element inside it!
        So, because the parent of the documentation menu is the same height as the documentation menu itself,
        put the sticky on the parent.
    */
    .documentation-menu-parent {
        position: sticky;
        top: 0px;
    }
}

.documentation-menu-link {
    margin-bottom: 20px;
}

.features h2 {
    color: #428bca;
}

.bgcolor1, pre .code-bg-soft1
{
    color: #0566C9;
}

.bgcolor2, pre .code-bg-soft2
{
    color: #5cb85c;
}

.row-divider
{
    border-top: 1px solid #cccccc;
    margin-top: 30px;
}

.homepage-row-grey
{
    background-color: #f0f0f0;
}

.with-download-arrow
{
    padding-left: 40px;
    background: url("/Images/downloadblue.png") no-repeat left 4px; 
}

.version-subheading
{
    font-size: 80%;
    margin-top: -20px;
}

/* --------------------------------------- */

.term 
{
    font-style:italic;
}

/* used in code examples to highlight added code */
.addedcode 
{
    color: #AD0101;
}

/* --------------------------------------- */

.social-media {
    float: right;
    width: 440px;
}

.social-media div {
    float: right;
    margin-left: 10px;
}

/*.social-media .twitter {
    float: right;
    margin-left: 10px;
}

.social-media .facebook {
    float: right;
}*/

.social-media .cdnjs a {
    color: rgb(221, 72, 20);
    cursor: auto;
    font-family: Ubuntu, Tahoma, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 25.7143px;
    text-decoration: none;
}


/* --------------------------------------- */

.hero 
{
    background-color: #f0f0f0;
    padding: 10px 0 20px 0;
}

.hero h1 
{
    font-size: 27px;
    font-weight: bold;
}

div.download-button,
a.download-button,
a.download-button:visited,
a.download-button:hover
{
    background: #AD0101 url("/Images/download.png") no-repeat 85% 50%;
    padding: 0 7px 7px 7px;
    border-radius: 5px 5px;
    width: 200px;
    height: 65px;
    margin-top: -4px;
    display: block;
    text-decoration: none;

    /* push the download button, to align it with rest of text in hero */
    position: relative;
    top: 30px;
}

a.download-button,
a.download-button:visited,
a.download-button:hover
{
    cursor:pointer;
}

a.download-button.jsonly,
a.download-button.jsonly:visited,
a.download-button.jsonly:hover
{
    top: 5px;
}

div.download-button.bower 
{
    background-image: none;
    margin-top: 5px;
    top: 5px;
    height: 50px;
}

.download-button span.download-button-caption,
.download-button span.install-button-caption
{
    text-decoration: none;
    color: #fff;    
    font-weight: bold;
    margin: 0;
}

.download-button div.version
{
    font-size: 80%;
    text-decoration: none;
    color: #fff;    
    margin: -8px 0 8px 0;
}

.download-button span.download-button-caption
{
    font-size: 150%;
}

.download-button span.install-button-caption
{
    font-size: 200%;
}

.download-button p
{
    text-decoration: none;
    color: #fff;    
    font-weight: bold;
    font-size: 80%;
    margin-top: 2px;
}

.nugetline 
{
    background-color: #888888;
    border-radius: 2px 2px;
    width: 200px;
    height: 20px;
    color: #fff;    
    font-weight: bold;
    float: right;
    font-size: 80%;
    padding: 0 7px 0 7px;
    margin-top: -4px;
}

/* -------------------------------------- */

.main
{
    margin-top: 20px;
}

/* -------------------------------------- */

.documentation-menu {
    margin-top: 25px;
    list-style-type: none;

    a {
        display: block;
    }

    ol {
        list-style-type: none;
        padding-left: 0;
    }

    a:hover {
        background-color: #f5f5f5;
        text-decoration: none;
    }

    a.selected {
        background-color: #428bca;
        color: #ffffff;
    }

    a.level1 {
        padding: 5px 0 5px 10px;
        margin-top: 10px;
        font-size: 140%;
    }

    a.level2 {
        padding: 3px 0 3px 14px;
        margin-top: 4px;
        font-size: 120%;
        margin-left: 16px;
    }

    a.level3 {
        padding: 2px 0 2px 10px;
        margin-top: 2px;
        font-size: 100%;
        margin-left: 40px;
    }
}


/* -------------------------------------- */

footer
{
    margin-top: 20px;
}

footer .navbar
{
    margin: 0;
    min-height: 0;
    padding: 5px 0 5px 0;
}

/* -------------------------------------- */

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
border-bottom: 1px solid #dddddd;
}

.table.no-borders > thead > tr > th, 
.table.no-borders > tbody > tr > th, 
.table.no-borders > tfoot > tr > th, 
.table.no-borders > thead > tr > td, 
.table.no-borders > tbody > tr > td, 
.table.no-borders > tfoot > tr > td {
border: none;
}

/* Do not apply more than 20px left margin on tables. Otherwise, when the window gets narrower, sometimes the left
    of the table is obscured by the vertical scroll bar.
    */
table.wide
{
    margin-left: 20px;
}

table.medium
{
    max-width: 500px;
    margin-left: 20px;
}

table.narrow
{
    max-width: 300px;
    margin-left: 20px;
}

/* -------------------------------------- */

.large-items li+li
{
    margin-top: 15px;
}

.midsize-items li+li
{
    margin-top: 8px;
}


h1, h2, h3, h4 {
    font-weight: bold;
}

h2, .h2 {
font-size: 28px;
}

h3, .h3 {
    font-size: 20px;
}

h1, .h1, h2, .h2, h3, .h3, h4 {
margin-bottom: 20px;
}

h4 {
    margin-top: 30px;
    font-size: 14px;
}

h2.tiny-heading {
    margin: 5px 0 20px 0;
    color: black;
    font-size: 80%;
    font-weight: 400;
}

.users {
    img {
        height: 40px;
        margin-bottom: 10px;
    }

    a { 
        margin-right: 10px;
    }
}

.breadcrumb-separator {
    font-size: 80%;
    margin: 0 5px 0 5px;
    color: #c0c0c0;
}

.radio-group {
    .radio-label {
        label {
            font-weight: normal;
        }
    }

    &.horizontal-radio-group {
        .radio-label {
            display: inline-block;
            margin-left: 5px;
        }
    }
}

.net-selector {
    /* Selector is invisible unless it is set visible, to prevent flashing */
    display: none;

    padding-left: 5px;
    background-color: #eeeeee;
    margin-bottom: 10px;
}



