@using JSNLog.Infrastructure
@using ViewExtensions

@{
    ViewBag.Title = "Demos and sample code";
    ViewBag.H1 = "Demos and sample code";
    ViewBag.Key = "getstarted-demo";
    Layout = "~/Views/Shared/_DocumentationLayout.cshtml";
    ViewBag.Description = "Simple working sample code";
    ViewBag.VersionNameRegex = "NetJs";
}

<p>
    This working sample code shows how to use JSNLog. Just get the source from Github and run in Visual Studio:
</p>
<ul>
    <li>
        <a href="@SiteConstants.DemoGithubUrl" target="_blank">Simple working demo sites</a> - illustrate how to log from the client to 
        NLog, Log4Net, etc., plus various more advanced scenarios.
    </li>
    <li>
        <a href="@SiteConstants.AngularJsDemoGithubUrl" target="_blank">Tiny library plus demo code to integrate JSNLog with an Angular 1 app</a>.
    </li>
    <li>
        <a href="@SiteConstants.AngularJsDemoGithubUrl" target="_blank">Demo site showing JSNLog used with an Angular 2+ site with an ASP.NET Core backend</a>.
    </li>
</ul>









