@using ViewExtensions

@{
    ViewBag.Title = "AMD, Browserify";
    ViewBag.Key = "getstarted-loadingjsfile-nodejs";
    ViewBag.Description = "Discusses how to load the jsnlog.js library using AMD and Browserify";
    Layout = "~/Views/Shared/_DocumentationLayout.cshtml";
    ViewBag.VersionNameRegex = "NodeJs";
}

<p>
    This page is about loading the jsnlog.js JavaScript file onto your pages, as part of 
    an
    <a href="#amd">AMD module</a> or with
    <a href="#browserify">Browserify</a>.
</p>
<p>
    There are
    <a href="https://github.com/mperdeck/jsnlog.NodeJsWorkingDemos">working Node.js demos</a>
    on Github that show how to use JSNLog for both server side and client side logging.
</p>


<a id="amd"></a>
@Html.Partial("_LoadingAsAMD")

<a id="browserify"></a>
@Html.Partial("_LoadingWithBrowserify")





