@using ViewExtensions
@using WebSite.App_Code

@{
    ViewBag.Title = "Multiple web sites";
    ViewBag.Key = "getstarted-multiplewebsites";
    ViewBag.Description = "Installing JSNLog in multiple web sites.";
    Layout = "~/Views/Shared/_DocumentationLayout.cshtml";
    ViewBag.VersionNameRegex = "NetJs";
}

<p>
    The default way to install JSNLog is to add configuration to the web site that will be using JSNLog.
    However, if you have multiple web site projects in one or more solutions,
    that may lead to duplicated code.
</p>
<p>
    There are 2 aspects to preventing this code duplication:
</p>
<ul>
    <li>
        <a href="#routing">Routing of logging requests to the JSNLog handler</a>;
</li>
    <li>
        <a href="#configuring">Configuring JSNLog</a>.
    </li>
</ul>

<h2 id="routing">Routing of logging requests to the JSNLog handler</h2>




<h2 id="configuring">Configuring JSNLog</h2>



