@using WebSite.App_Code
@using ViewExtensions

@{
    ViewBag.Title = "For ASP.NET 5";
    ViewBag.H1 = "Installation for ASP.NET 5";
    ViewBag.Key = "downloadinstall-aspnet5";
    ViewBag.Description = "Installation for ASP.NET 5";
    Layout = "~/Views/Shared/_DocumentationLayout.cshtml";
    ViewBag.VersionNameRegex = "NetJs";
}

<ul>
    <li>
        A working demo is in project 
        <a href="https://github.com/mperdeck/jsnlog.AspNet5Demo" target="_blank">jsnlog.AspNet5Demo</a>
    </li>
</ul>
