@using ViewExtensions

@{
    ViewBag.Title = "jl-javascript-logger-definitions";
    ViewBag.Key = "jl-javascript-logger-definitions-taghelper";
    ViewBag.Description = "Tag helper that generates JavaScript code to configure loggers and appenders.";
    ViewBag.VersionNameRegex = "NetJs";
}

@section Definition {
<pre>&lt;jl-javascript-logger-definitions request-id="..." /&gt;</pre>

<section class="parameters">
<h3>Parameters</h3>

        <table class="table medium no-borders">
        <tr>
            <th><span style="white-space: nowrap;">request-id</span></th>
            <td>Optional. Request id to include in log messages sent by JSNLog to the server. See remarks.</td>
        </tr>
    </table>

<h3>Return Value</h3>
<p>
Script blocks that configure your JavaScript loggers and appenders.
</p>
</section>
}


@section Remarks {
<p>
    This can only be used in ASP.NET Core web applications.
    </p>

<p>
    As part of the
    @Html.ViewLink("downloadinstall-aspnet5", "installation", null, "taghelper")<text>,</text>
    you will have included a call to this
    tag helper in your pages
    (@Html.ViewLink("webconfig",
            "exceptions",
            fragment: "cannotcallconfigure")).
</p>

    @Html.Partial("_ConfigureDescription")

}



