@using ViewExtensions

    <ul>
        <li>
            <b>For Razor (MVC3+)</b>, use:

            @Html.Partial("_CallingConfigureMvc")
            <p>
                Your _Layout.cshtml or _Layout.vbhtml would probably be a good place for this.
            </p>
        </li>
        <li>
            <b>For WebForms</b>, use:
<pre>@@*Add to your pages before the script tags*@@
&lt;%= JSNLog.JavascriptLogging.Configure() %&gt;</pre>
            <p>
                Your master page would probably be a good place for this.
            </p>
        </li>
    </ul>
