@using ViewExtensions


<p>
    It
    translates the server side configuration to JavaScript code that
    configures the client side loggers and appenders
    (@Html.ViewLink("webconfig", "details", null, "clientsideconfigonserver")).
</p>

<h3>requestId</h3>
<p>
    JSNLog
    gets the request id of the request, or if it can't, generates its own unique id.
    It sends that with all log messages to the server so log messages belonging to the same request can be correlated
    (@Html.ViewLink("javascriptlogging-requestid", "details")).
</p>
<p>
    If however you generate your own request ids and you want JSNLog to use that instead,
    pass in your request id.
</p>
