@using ViewExtensions
@using JSNLog.Infrastructure


@{ 
    string cdnJsScriptTag = SiteConstants.CdnJsScriptTag;
}

<p>
    Include a script tag in your web pages to load the jsnlog.js
    client side library from a
    @Html.ViewLink("getstarted-loadingjsfile-cdnjs", "free CDN")<text>.</text>
    For example
    (@Html.ViewLink("getstarted-loadingjsfile", "more options")):
</p>
<pre>@@*Add to _Layout.cshtml*@@

@cdnJsScriptTag</pre>
<p>

</p>
Your <span class="term">_Layout.cshtml</span> file
            would be a great place for this.
<p />

