@using ViewExtensions


<p>
    jsnlog.js is available from NPM and has the necessary code to function as an
    <a href="http://spinejs.com/docs/commonjs">CommonJS module</a>:
</p>
<ol>
    <li>
        Install jsnlog.js from NPM:
        <pre>npm install jsnlog</pre>
    </li>
    <li>
        Load jsnlog into your code:
        <pre>var JL = require('jsnlog').JL;</pre>
    </li>
</ol>

<p>
    CommonJS is normally used on the server, because it doesn't support asynchronous loading by the client over the network.
    However, <a href="#browserify">Browserify</a> enables you to use this on the client.
</p>



