@using ViewExtensions
@using WebSite.App_Code

<p>
    Jsnlog.min.js is hosted on <a href="@SiteConstants.CdnJsUrl" target="_blank">cdnjs</a>
    (<a href="https://www.cloudflare.com/network-map/" target="_blank">world wide locations</a>).
</p>
<p>
    To load jsnlog.js from this CDN, use this script tag:
</p>
<pre>@SiteConstants.CdnJsScriptTag</pre>

