@using ViewExtensions

<ul>
    <li>
        <a href="https://github.com/mperdeck/jsnlog.NodeJsWorkingDemos">Working demo that uses Browserify with Node.js</a>
        <br />
        (you can also combine Browserify with .Net and any other server side technology)
    </li>
</ul>

<p>
    <a href="http://browserify.org/" target="_blank">Browserify</a>
    is a 
    <a href="https://nodejs.org/" target="_blank">Node.js</a>
    program that 
    allows you to use 
    <a href="http://spinejs.com/docs/commonjs" target="_blank">CommonJS</a>
    in your client side JavaScript code.
    </p>

<p>
    jsnlog.js 
    <a href="#commonjs">fully supports CommonJS</a>,
    and works well with
    Browserify.
</p>

