@using ViewExtensions
@using WebSite.App_Code


<pre>{
    r:  "request id", // Obsolete. May be empty string.
    lg: [
        { l: level, m: 'message', n: 'logger name', t: timestamp, u: event id },
        ...
    ]
}</pre>

<p>
    Please note that a single JSON message to the server can contain multiple log messages.
    This is because the AJAX appender can be configured
    to batch messages, for example 2 log messages per JSON message to the server.
</p>
<p>
    About the individual fields:
</p>
<table class="table medium">
    <tr valign="top">
        <th>Field</th>
        <th>Description</th>
    </tr>
    <tr>
        <td valign="top">
            request id
        </td>
        <td>
            Obsolete. Do not use.
        </td>
    </tr>
    <tr>
        <td valign="top">
            level
        </td>
        <td>
            @Html.ViewLink("getstarted-numericseverities", "Numeric severity")
            of the log message.
        </td>
    </tr>
    <tr>
        <td valign="top">
            message
        </td>
        <td>
            Message to be logged.
        </td>
    </tr>
    <tr>
        <td valign="top">
            logger&nbsp;name
        </td>
        <td>
            Name of the logger.
        </td>
    </tr>
    <tr>
        <td valign="top">
            timestamp
        </td>
        <td>
            The time the message was logged by your JavaScript.
            This is the number of milliseconds since 1 January 1970 00:00:00 UTC, according to the client machine's clock.
        </td>
    </tr>
    <tr>
        <td valign="top">
            event id
        </td>
        <td>
            @Html.Partial("_EventIdDescription")
        </td>
    </tr>
</table>
