        <span class="addedcode">LoggingHandler loggingHandler =
            (LoggingEventArgs loggingEventArgs) =>
            {
            ...
            };

        // Add the new handler to the logging event.
        JavascriptLogging.OnLogging += loggingHandler;</span>