        LoggingHandler loggingHandler =
            (LoggingEventArgs loggingEventArgs) =>
            {
                <span class="addedcode">if (loggingEventArgs.FinalMessage.Contains("this will be suppressed"))
                {
                    loggingEventArgs.Cancel = true;
                    return;
                }</span>
            };

        // Add the new handler to the logging event.
        JavascriptLogging.OnLogging += loggingHandler;