
@helper Feature(string title, string text, string code)
{
    @(new HtmlString(@"<section class=""feature"">" +
@"<h3 class=""text"">" + text + "</h3>" +
(string.IsNullOrEmpty(code) ? "" : @"<section class=""code"">" + code + "</section>") +
"</section>"))
}


