@using ViewExtensions
@using WebSite.App_Code

@{
    ViewBag.Title = "Configuration";
    ViewBag.Key = "webconfig";
    ViewBag.Description = "Configuring JSNLog";
    Layout = "~/Views/Shared/_DocumentationLayout.cshtml";
    ViewBag.VersionNameRegex = "NetJs";
}

<p>
    JSNLog's default configuration lets you do simple client side logging out of the box. This is probably enough for most sites.
</p>
<p>
    However, to access the full set of features, such as named loggers, filtering on user agent, etc., you'll need some configuration.
</p>
<p>
    JSNLog can be configured both using server side code and client side code.
</p>

@Html.ChildrenTable("Topic", cssClass: "table wide")

