@* GENERATED CODE - by class DemoTests in JSNLog.Tests project. Demo consolelog3. *@
<div class="commontabs"><div data-tab="Web.config">

<pre>
&lt;!-- Debug version of web.config --&gt;
&lt;<a href='/Documentation/Configuration/JSNLog'>jsnlog</a>&gt;
    &lt;!-- Create console appender and AJAX appender --&gt;
    &lt;consoleAppender name=&quot;consoleAppender&quot; /&gt;
    &lt;ajaxAppender name=&quot;ajaxAppender&quot; /&gt;

    &lt;!-- Send all log messages to both --&gt;
    &lt;logger appenders=&quot;ajaxAppender;consoleAppender&quot; /&gt;
&lt;/jsnlog&gt;</pre>

</div><div data-tab="JsnlogConfiguration">

<pre>JavascriptLogging.<a href='/Documentation/JavascriptLogging/SetJsnlogConfiguration'>SetJsnlogConfiguration</a>(
  // Debug version of web.config
  new <a href='/Documentation/Configuration/JSNLog'>JsnlogConfiguration</a> {
  
      // Create console appender and AJAX appender
      consoleAppenders=new List&lt;ConsoleAppender&gt; {
          new ConsoleAppender {
              name=&quot;consoleAppender&quot;
          }
      },
      ajaxAppenders=new List&lt;AjaxAppender&gt; {
          new AjaxAppender {
              name=&quot;ajaxAppender&quot;
          }
      },
  
      // Send all log messages to both
      loggers=new List&lt;Logger&gt; {
          new Logger {
              appenders=&quot;ajaxAppender;consoleAppender&quot;
          }
      }
  });</pre>

</div></div>
