@* GENERATED CODE - by class DemoTests in JSNLog.Tests project. Demo consoleappender1. *@
<div class="commontabs"><div data-tab="Web.config">

<pre>
&lt;<a href='/Documentation/Configuration/OnServer/Jsnlog'>jsnlog</a>&gt;
    &lt;!-- &quot;mylogger&quot; logs to just the console --&gt;
    &lt;consoleAppender name=&quot;consoleAppender&quot; /&gt;
    &lt;logger name=&quot;mylogger&quot; appenders=&quot;consoleAppender&quot; /&gt;
&lt;/jsnlog&gt;</pre>

</div><div data-tab="JsnlogConfiguration">

<pre class='net-framework-only'>JavascriptLogging.<a href='/Documentation/JavascriptLogging/SetJsnlogConfiguration'>SetJsnlogConfiguration</a>(
  // &quot;mylogger&quot; logs to just the console
  new <a href='/Documentation/Configuration/OnServer/Jsnlog' onclick='commonTabs.setJsnlogConfigurationTab()'>JsnlogConfiguration</a> {
      consoleAppenders=new List&lt;ConsoleAppender&gt; {
          new ConsoleAppender {
              name=&quot;consoleAppender&quot;
          }
      },
      loggers=new List&lt;Logger&gt; {
          new Logger {
              name=&quot;mylogger&quot;,
              appenders=&quot;consoleAppender&quot;
          }
      }
  });</pre>
<pre class='net-core-only'>// Use in <a href='/Documentation/Configuration/OnServer#configcore'>Configure method in Startup class</a>
var jsnlogConfiguration = 
  // &quot;mylogger&quot; logs to just the console
  new <a href='/Documentation/Configuration/OnServer/Jsnlog' onclick='commonTabs.setJsnlogConfigurationTab()'>JsnlogConfiguration</a> {
      consoleAppenders=new List&lt;ConsoleAppender&gt; {
          new ConsoleAppender {
              name=&quot;consoleAppender&quot;
          }
      },
      loggers=new List&lt;Logger&gt; {
          new Logger {
              name=&quot;mylogger&quot;,
              appenders=&quot;consoleAppender&quot;
          }
      }
  };</pre>

</div></div>
