@* GENERATED CODE - by class DemoTests in JSNLog.Tests project. Demo consoleappender4. *@
<div class="commontabs"><div data-tab="Web.config">

<pre>
&lt;<a href='/Documentation/Configuration/OnServer/Jsnlog'>jsnlog</a>&gt;
    &lt;!-- Production: loggers log to the server only --&gt;
    &lt;ajaxAppender name=&quot;ajaxAppender&quot; /&gt;
    &lt;logger appenders=&quot;ajaxAppender;consoleAppender&quot; /&gt;
&lt;/jsnlog&gt;</pre>

</div><div data-tab="JsnlogConfiguration">

<pre class='net-framework-only'>JavascriptLogging.<a href='/Documentation/JavascriptLogging/SetJsnlogConfiguration'>SetJsnlogConfiguration</a>(
  // Production: loggers log to the server only
  new <a href='/Documentation/Configuration/OnServer/Jsnlog' onclick='commonTabs.setJsnlogConfigurationTab()'>JsnlogConfiguration</a> {
      ajaxAppenders=new List&lt;AjaxAppender&gt; {
          new AjaxAppender {
              name=&quot;ajaxAppender&quot;
          }
      },
      loggers=new List&lt;Logger&gt; {
          new Logger {
              appenders=&quot;ajaxAppender;consoleAppender&quot;
          }
      }
  });</pre>
<pre class='net-core-only'>// Use in <a href='/Documentation/Configuration/OnServer#configcore'>Configure method in Startup class</a>
var jsnlogConfiguration = 
  // Production: loggers log to the server only
  new <a href='/Documentation/Configuration/OnServer/Jsnlog' onclick='commonTabs.setJsnlogConfigurationTab()'>JsnlogConfiguration</a> {
      ajaxAppenders=new List&lt;AjaxAppender&gt; {
          new AjaxAppender {
              name=&quot;ajaxAppender&quot;
          }
      },
      loggers=new List&lt;Logger&gt; {
          new Logger {
              appenders=&quot;ajaxAppender;consoleAppender&quot;
          }
      }
  };</pre>

</div></div>
