@* GENERATED CODE - by class DemoTests in JSNLog.Tests project. Demo consolelog2. *@
<div class="commontabs"><div data-tab="Web.config">

<pre>
&lt;!-- Release version of web.config --&gt;
&lt;<a href='/Documentation/Configuration/OnServer/Jsnlog'>jsnlog</a>&gt;
    &lt;!-- Stop all messages with severity lower than fatal --&gt;
    &lt;logger level=&quot;FATAL&quot; /&gt;
&lt;/jsnlog&gt;</pre>

</div><div data-tab="JsnlogConfiguration">

<pre class='net-framework-only'>JavascriptLogging.<a href='/Documentation/JavascriptLogging/SetJsnlogConfiguration'>SetJsnlogConfiguration</a>(
  // Release version of web.config
  new <a href='/Documentation/Configuration/OnServer/Jsnlog' onclick='commonTabs.setJsnlogConfigurationTab()'>JsnlogConfiguration</a> {
  
      // Stop all messages with severity lower than fatal
      loggers=new List&lt;Logger&gt; {
          new Logger {
              level=&quot;FATAL&quot;
          }
      }
  });</pre>
<pre class='net-core-only'>// Use in <a href='/Documentation/Configuration/OnServer#configcore'>Configure method in Startup class</a>
var jsnlogConfiguration = 
  // Release version of web.config
  new <a href='/Documentation/Configuration/OnServer/Jsnlog' onclick='commonTabs.setJsnlogConfigurationTab()'>JsnlogConfiguration</a> {
  
      // Stop all messages with severity lower than fatal
      loggers=new List&lt;Logger&gt; {
          new Logger {
              level=&quot;FATAL&quot;
          }
      }
  };</pre>

</div></div>
