@* GENERATED CODE - by class DemoTests in JSNLog.Tests project. Demo consolelog1. *@
<div class="commontabs"><div data-tab="Web.config">

<pre>&lt;!-- Debug version of web.config --&gt;
&lt;<a href='/Documentation/Configuration/JSNLog'>jsnlog</a>&gt;
    &lt;!-- Create console appender --&gt;
    &lt;consoleAppender name=&quot;consoleAppender&quot; /&gt;

    &lt;!-- Send all log messages to console appender --&gt;
    &lt;logger appenders=&quot;consoleAppender&quot; /&gt;
&lt;/jsnlog&gt;</pre>

</div><div data-tab="JsnlogConfiguration">

<pre>JavascriptLogging.<a href='/Documentation/JavascriptLogging/SetJsnlogConfiguration'>SetJsnlogConfiguration</a>(// Debug version of web.config
new <a href='/Documentation/Configuration/JSNLog'>JsnlogConfiguration</a> {

    // Create console appender
    consoleAppenders=new List&lt;ConsoleAppender&gt; {
        new ConsoleAppender {
            name=&quot;consoleAppender&quot;
        }
    },

    // Send all log messages to console appender
    loggers=new List&lt;Logger&gt; {
        new Logger {
            appenders=&quot;consoleAppender&quot;
        }
    }
});</pre>

</div></div>
