@* GENERATED CODE - by class DemoTests in JSNLog.Tests project. Demo cors1. *@
<div class="commontabs"><div data-tab="Web.config">

<pre>&lt;<a href='/Documentation/Configuration/JSNLog'>jsnlog</a> corsAllowedOriginsRegex=&quot;^https?:\/\/([a-z0-9]+[.])*(my-abc-domain[.]com|my-xyz-domain[.]com)$&quot; &gt;
&lt;/jsnlog&gt;</pre>

</div><div data-tab="JsnlogConfiguration">

<pre>JavascriptLogging.<a href='/Documentation/JavascriptLogging/SetJsnlogConfiguration'>SetJsnlogConfiguration</a>(new <a href='/Documentation/Configuration/JSNLog'>JsnlogConfiguration</a> {
    corsAllowedOriginsRegex=&quot;^https?:\\/\\/([a-z0-9]+[.])*(my-abc-domain[.]com|my-xyz-domain[.]com)$&quot;
});</pre>

</div></div>
