@* GENERATED CODE - by class DemoTests in JSNLog.Tests project. Demo exceptions1. *@
@using ViewExtensions
<div class="commontabs"><div data-tab="Web.config">

<pre>
&lt;<a href='/Documentation/Configuration/OnServer/Jsnlog'>jsnlog</a>&gt;
    &lt;!-- Create appender that stores debug messages in memory until fatal log message is sent --&gt;
    &lt;ajaxAppender 
        name=&quot;appender1&quot; 
        storeInBufferLevel=&quot;DEBUG&quot; 
        level=&quot;FATAL&quot; 
        sendWithBufferLevel=&quot;FATAL&quot; 
        bufferSize=&quot;20&quot;/&gt;

    &lt;!-- Get the loggers to use the new appender --&gt;
    &lt;logger appenders=&quot;appender1&quot;/&gt;
&lt;/jsnlog&gt;</pre>

</div><div data-tab="JsnlogConfiguration">


@{ 
	bool isNetCore;
	bool isNetFramework;
	PageVersions.GetPageVersion(out isNetCore, out isNetFramework);
}



	@if (isNetFramework)
	{
        <pre class='net-framework-only'>JavascriptLogging.<a href='/Documentation/JavascriptLogging/SetJsnlogConfiguration'>SetJsnlogConfiguration</a>(
  // Create appender that stores debug messages in memory until fatal log message is sent
  new <a href='/Documentation/Configuration/OnServer/Jsnlog' onclick='commonTabs.setJsnlogConfigurationTab()'>JsnlogConfiguration</a> {
      ajaxAppenders=new List&lt;AjaxAppender&gt; {
          new AjaxAppender {
              name=&quot;appender1&quot;, 
              storeInBufferLevel=&quot;DEBUG&quot;, 
              level=&quot;FATAL&quot;, 
              sendWithBufferLevel=&quot;FATAL&quot;, 
              bufferSize=20
          }
      },
  
      // Get the loggers to use the new appender
      loggers=new List&lt;Logger&gt; {
          new Logger {
              appenders=&quot;appender1&quot;
          }
      }
  });</pre>
    }


	@if (isNetCore)
	{
        <pre class='net-core-only'>// Use in <a href='/Documentation/Configuration/OnServer#configcore'>Configure method in Startup class</a>
        var jsnlogConfiguration = 
  // Create appender that stores debug messages in memory until fatal log message is sent
  new <a href='/Documentation/Configuration/OnServer/Jsnlog' onclick='commonTabs.setJsnlogConfigurationTab()'>JsnlogConfiguration</a> {
      ajaxAppenders=new List&lt;AjaxAppender&gt; {
          new AjaxAppender {
              name=&quot;appender1&quot;, 
              storeInBufferLevel=&quot;DEBUG&quot;, 
              level=&quot;FATAL&quot;, 
              sendWithBufferLevel=&quot;FATAL&quot;, 
              bufferSize=20
          }
      },
  
      // Get the loggers to use the new appender
      loggers=new List&lt;Logger&gt; {
          new Logger {
              appenders=&quot;appender1&quot;
          }
      }
  };</pre>
    }


</div></div>
