@* GENERATED CODE - by class DemoTests in JSNLog.Tests project. Demo jsnlog1. *@
<div class="commontabs"><div data-tab="Web.config">

<pre>
&lt;<a href='/Documentation/Configuration/JSNLog'>jsnlog</a> serverSideMessageFormat=&quot;Sent: % date, Brower: % userAgent - % message&quot; &gt;
&lt;/jsnlog&gt;</pre>

</div><div data-tab="JsnlogConfiguration">

<pre>JavascriptLogging.<a href='/Documentation/JavascriptLogging/SetJsnlogConfiguration'>SetJsnlogConfiguration</a>(
  new <a href='/Documentation/Configuration/JSNLog'>JsnlogConfiguration</a> {
      serverSideMessageFormat=&quot;Sent: % date, Brower: % userAgent - % message&quot;
  });</pre>

</div></div>
