@* GENERATED CODE - by class DemoTests in JSNLog.Tests project. Demo jsnlog3. *@
<div class="commontabs"><div data-tab="Web.config">

<pre>&lt;jsnlog enabled=&quot;false&quot;&gt;
&lt;/jsnlog&gt;</pre>

</div><div data-tab="JsnlogConfiguration">

<pre>new JsnlogConfiguration {
    enabled=false
}</pre>

</div></div>
