@* GENERATED CODE - by class DemoTests in JSNLog.Tests project. Demo loadingjsfile1. *@
<div class="commontabs"><div data-tab="Web.config">

<pre>
&lt;<a href='/Documentation/Configuration/JSNLog'>jsnlog</a> productionLibraryPath=&quot;<span class='addedcode'>https://cdnjs.cloudflare.com/ajax/libs/jsnlog/2.28.0/jsnlog.min.js</span>&quot;&gt;
&lt;/jsnlog&gt;</pre>

</div><div data-tab="JsnlogConfiguration">

<pre>JavascriptLogging.<a href='/Documentation/JavascriptLogging/SetJsnlogConfiguration'>SetJsnlogConfiguration</a>(
  new <a href='/Documentation/Configuration/JSNLog'>JsnlogConfiguration</a> {
      productionLibraryPath=&quot;<span class='addedcode'>https://cdnjs.cloudflare.com/ajax/libs/jsnlog/2.28.0/jsnlog.min.js</span>&quot;
  });</pre>

</div></div>
