@* GENERATED CODE - by class DemoTests in JSNLog.Tests project. Demo logger4. *@
<div class="commontabs"><div data-tab="Web.config">

<pre>
&lt;<a href='/Documentation/Configuration/OnServer/Jsnlog'>jsnlog</a>&gt;
    &lt;logger name=&quot;a.b&quot; userAgentRegex=&quot;MSIE 7|MSIE 8&quot; level=&quot;4000&quot; /&gt;
&lt;/jsnlog&gt;</pre>

</div><div data-tab="JsnlogConfiguration">

<pre class='net-framework-only'>JavascriptLogging.<a href='/Documentation/JavascriptLogging/SetJsnlogConfiguration'>SetJsnlogConfiguration</a>(
  new <a href='/Documentation/Configuration/OnServer/Jsnlog' onclick='commonTabs.setJsnlogConfigurationTab()'>JsnlogConfiguration</a> {
      loggers=new List&lt;Logger&gt; {
          new Logger {
              name=&quot;a.b&quot;,
              userAgentRegex=&quot;MSIE 7|MSIE 8&quot;,
              level=&quot;4000&quot;
          }
      }
  });</pre>
<pre class='net-core-only'>// Use in <a href='/Documentation/Configuration/OnServer#configcore'>Configure method in Startup class</a>
var jsnlogConfiguration = 
  new <a href='/Documentation/Configuration/OnServer/Jsnlog' onclick='commonTabs.setJsnlogConfigurationTab()'>JsnlogConfiguration</a> {
      loggers=new List&lt;Logger&gt; {
          new Logger {
              name=&quot;a.b&quot;,
              userAgentRegex=&quot;MSIE 7|MSIE 8&quot;,
              level=&quot;4000&quot;
          }
      }
  };</pre>

</div></div>
