@* GENERATED CODE - by class DemoTests in JSNLog.Tests project. Demo logger3. *@
<div class="commontabs"><div data-tab="Web.config">

<pre>&lt;jsnlog&gt;
    &lt;logger name=&quot;a.b&quot; level=&quot;INFO&quot; /&gt;
&lt;/jsnlog&gt;</pre>

</div><div data-tab="JsnlogConfiguration">

<pre>new JsnlogConfiguration {
    loggers=new List&lt;Logger&gt; {
        new Logger {
            name=&quot;a.b&quot;,
            level=&quot;INFO&quot;
        }
    }
}</pre>

</div></div>
