@* GENERATED CODE - by class DemoTests in JSNLog.Tests project. Demo logger7. *@
<div class="commontabs"><div data-tab="Web.config">

<pre>
&lt;<a href='/Documentation/Configuration/JSNLog'>jsnlog</a>&gt;
    &lt;logger name=&quot;a&quot;&gt;
        &lt;onceOnly regex=&quot;Parameter x too high - x =&quot; /&gt;
    &lt;/logger&gt;
&lt;/jsnlog&gt;</pre>

</div><div data-tab="JsnlogConfiguration">

<pre>JavascriptLogging.<a href='/Documentation/JavascriptLogging/SetJsnlogConfiguration'>SetJsnlogConfiguration</a>(
  new <a href='/Documentation/Configuration/JSNLog'>JsnlogConfiguration</a> {
      loggers=new List&lt;Logger&gt; {
          new Logger {
              name=&quot;a&quot;,
              onceOnlies = new List&lt;OnceOnlyOptions&gt; {
                  new OnceOnlyOptions {
                      regex=&quot;Parameter x too high - x =&quot;
                  }
              }
          }
      }
  });</pre>

</div></div>
