@using ViewExtensions
@using WebSite.App_Code

@{
    ViewBag.Title = "Free CDN";
    ViewBag.Key = "getstarted-loadingjsfile-cdnjs";
    ViewBag.Description = "Loading jsnlog.js from a free CDN";
    Layout = "~/Views/Shared/_DocumentationLayout.cshtml";
    ViewBag.VersionNameRegex = "NetJs";
}

<p>
    If you serve the jsnlog.js file from your own web server,
    then the distance between your server and your user delays loading of the file.
    For example, your web server is in the US and your visitor is in
    Europe.
</p>
<p>
    To solve this,
    you can host jsnlog.js and other static files on a
    <a href="https://www.akamai.com/us/en/resources/content-distribution-network.jsp" target="_blank">Content Distribution Network</a> (CDN).
    This automatically places your files
    on servers around the world. This way, your files are served from whatever server is closest to your user.
</p>

@Html.Partial("_LoadingFromCDN")

<p>
    If you have
    @Html.ViewLink("getstarted-loadingjsfile-generatedscripttag", "the script tag generated for you")<text>,</text>
    change the
    <span class="term">productionLibraryPath</span>
    property:
</p>

@Html.Partial(@"Demos/_loadingjsfile1")


