@{
    ViewBag.Title = "Loading jsnlog.js";
    ViewBag.Key = "getstarted-loadingjsfile";
    ViewBag.Description = "Various options to load the jsnlog.js library";
    ViewBag.VersionNameRegex = "NetJs";
}

@section Remarks {
    <p>
        This section provides examples of common ways to load the jsnlog.js library
        into the browser.
    </p>
    <p>
        If your favorite way of loading JavaScript is not listed here,
        please remember that jsnlog.js behaves like any other AMD module / CommonJS module / plain JavaScript file.
        So it probably works fine with your loader too.
    </p>
}



